<html>
<div class="titulo"> Modulo de Reubicaciones Movil </div>
<br>
<br>

<table width="90%" border="0" align="center" cellpadding="3" cellspacing="0" class="tabla_listas">
  <tr> 
    <td colspan="4"><br>
      Con este modulo puede consultar informacion de inventario<br>
      <br>
    </td>
  </tr>
  <tr> 
    <th width="33%">Inventario</th>
    <th width="33%">Consultas por QR</th>
  </tr>
  <%  
  administracion.control.gstpermiso gper = new administracion.control.gstpermiso();
  String grupo = ((administracion.entity.usuario)session.getAttribute("usuario")).getusugrupo();
%>
  <tr valign="top"> 
    <td>Consulta del Inventario en linea y Reubicaciones <br>
      <br>
      <% if( gper.verIzquierdo(grupo, "movil", "inventario.jsp") ) { %>
      <a href="main.jsp?app=movil&modulo=inventario">&gt;&gt; Ingresar</a><br>
      <br>
      <% } %>
    </td>
    <td>Consulta informacion de una posicion especifica leyendo el codigo QR
      <br><br>
      <% if( gper.verIzquierdo(grupo, "movil", "lecturaQR.jsp") ) { %>
      <a href="main.jsp?app=movil&modulo=lecturaQR">
      &gt;&gt; Ingresar</a>
      <%} %>
      </td>
  </tr>
</table>
</html>