/administracion/
/app-debug.apk
/app-debug.apkORIGINAL.zip
/appmovil/
/auditoria/
/averias/
/ayuda/
/bootstrap/
/dataTable-AltEditor/
/datatables/
/default.jsp
/descargas.jsp
/disenno/
/distrinal/
/editablegrid/
/images/
/index_movil.jsp
/ingreso/
/inventario.jsp
/jQuery/
/javascript/
/lecturaQR.jsp
/libconsultas/
/maestro/
/mapas/
/movil_descargas.json
/movil_inventario.json
/movil_inventario.jsp
/movil_reubicacion.json
/nacionalizacion/
/parametros.properties
/parametrosdesa.properties
/parametrosprod.properties
/patios/
/pedido/
/pruebas/
/qrcode.js
/registro/
/reportes/
/reubicacion.jsp
/sap/
/templates/
/util/
