/maestro/
/movil/
/nacionalizacion/
/pedido/
/reportes/
/editablegrid/
/images/
/javascript/
/libconsultas/
/mapas/
/sap/
/util/
/app-debug.apk
/app-debug.apkORIGINAL.zip
/bootstrap/
/dataTable-AltEditor/
/datatables/
/parametros.properties
/templates/
/administracion/
/appmovil/
/auditoria/
/averias/
/ayuda/
/default.jsp
/descargas.jsp
/disenno/
/distrinal/
/index_movil.jsp
/ingreso/
/inventario.jsp
/jQuery/
/lecturaQR.jsp
/movil_descargas.json
/movil_inventario.json
/movil_inventario.jsp
/movil_reubicacion.json
/patios/
/pruebas/
/qrcode.js
/registro/
/reubicacion.jsp
